$color-primary:#E6E6F5;
$color-secondary:#fcc419;
$color-tertiary-light:#099268;
$color-tertiary-dark:#087f5b;
$color-grey:#495057;
$font-size:3rem;
$font-size-minor:2rem;
$font-size-mini:1.8rem;
$gap:2rem;

